extends layout

block content
  h1= title
  p Welcome to #{title}
  br
  p#explanation This is an application currently in development. The goal is to both improve skills with NodeJS and Express, as well as provide an application that can be used to increase productivity for Athletic Directors (with suggestions and direction provided by a very small school AD -- my Dad).