extends layout

block content
  h1= title

    br
    br
    h2 Referee List
        #refList
            table
                thead
                    th First Name
                    th Last Name
                    th Email
                    th Sports Available
                    th Delete?
                tbody



    h2 Add Referee
        #addRef
            fieldset
                input#inputFirst(type='text', placeholder='First Name')
                input#inputLast(type='text', placeholder='Last Name')
                br
                input#inputEmail(type='text', placeholder='Email')
                input#inputSports(type='text', placeholder='Sports')
                br
                button#btnAddRef Add Referee

    script(src='/javascripts/refs.js')